<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RESTFUL API</title>
</head>

<body>

    <h1> Route: '/<%= route %>'' </h1>

  <div>
    
     <% items.forEach(x => { %>
      <div class="item">
        <p><%= x.name %></p>
        <p><%= x.description %></p>
        <a href="/<%= x.name%>">Select</a>
      </div>
    <% }) %>     

  </div>


</body>
</html>